<%= flash[:notice] %> 

<h1>Restaurants</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr> 
    </thead>
    
    <tbody>
        <% @restaurants.each do |restaurant| %>
            <tr id="restaurant_<%= restaurant.id %>">
                <td><%= restaurant.name %></td>
                <td><%= restaurant.address %></td>
                <td><%= link_to 'Edit', edit_place_restaurant_path(@place, restaurant) %></td>
                <td><%= link_to 'Destroy', place_restaurant_path(@place, restaurant),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Back', place_path(@place) %>
<%= link_to 'Create Restaurant', new_place_restaurant_path(@place) %>
