<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>PLZ:</strong>
  <%= @place.postcode %>
</p>

<p>
  <strong>Canton:</strong>
  <%= @place.canton %>
</p>

<p>
  <strong>Description:</strong><br>
  <div class="description"><%= @place.description %></div>
</p>

<%= link_to 'Back', new_postcode_search_path %>
<%= link_to 'Edit', edit_place_path(@place) %> 
